<ion-header>
  
    <ion-row>
    <ion-col >   
    </ion-col>
    <ion-col >
    </ion-col >
    <ion-col >
    </ion-col >
    <ion-col >
      <ion-button size= "default" color="danger" color="danger" (click)="login()">Sign In</ion-button>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content fullscreen="true">
  <br><br><br>
  <ion-title>
      FOODHUB
  </ion-title>
  
    <br><br><br><br><br>
  <ion-searchbar color = "danger"></ion-searchbar>
  <br> <br> <br> <br> <br> <br> <br><br><br><br><br><br><br>
  <ion-row>
      <ion-col >
      </ion-col>
      <ion-col size="6">
          <ion-button shape="round" color="danger" (click)="registerModal()">Create Account</ion-button>
      </ion-col >
      <ion-col size="3" >
      </ion-col>
    </ion-row>
  </ion-content>