.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  ion-content {
    max-height: 100%;
    overflow: hidden;
    --background: url("background.jpg") no-repeat fixed center;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    --background-size: contain; 
  
  }
  .register{
    background-color: none;
    padding: 5px;
    margin: none;
    border: none;
    --box-shadow: none;
  }
ion-title{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}