ion-content {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    --background: url("restaurant.jpg") no-repeat fixed center;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    --background-size: contain; 
  
  }